* {
    margin: 0px;
}

body {
    overflow: hidden;
}

.pixelGrid {
    padding: 16px;
}

.pixel {
    width: 30px;
    height: 30px;
    background-color: rgb(244, 244, 244);
    display: inline-block;
    margin: -1px;
}

.container {
    position: relative;
    top: 10%;
}

.color {
    min-width: 30px;
    height: 30px;
}


.colorBox {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: left;
    align-items: center;
    z-index: 2;
    /* position: absolute; */
    /* position: fixed; */
    background-color: rgb(189, 189, 189);

}

.hidden {
    display: none;
}

.window {
    position: absolute;
    top: 30%;
    left: 40%;
    z-index: 2;
}

.window-body-heading {
    color: black;
    font-weight: bold;
}

.window img {
    position: absolute;
    top: 40%;
    left: 83%;
}

.colorBox {
    position: absolute;
    bottom: 0px;
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
}

.status-bar {
    height: 10px;
    position: absolute;
    bottom: 15px;
    background-color: rgb(189, 189, 189);
    left: 80%;
    z-index: 3;
    right: 0px;

}

.bottomBar {
    background-color: rgb(189, 189, 189);
}

.status-bar-field {
    height: 15px;
}

.status-bar .selected {
    height: 10px;
}

.nowWhatWindow {
    max-width: 300px;
}