* {
    margin: 0px;
    background-color: rgb(189, 189, 189);
}

body {
    overflow: hidden;
}

.title-bar-text {
    background-color: transparent;
    margin-left: 10px;
}

.pixelGrid {
    padding: 16px;
    background-color: #e6e6e6;
    overflow: scroll;
}

.pixel {
    width: 20px;
    height: 20px;
    background-color: rgb(244, 244, 244);
    display: inline-block;
    margin: -1px;
}

.color {
    min-width: 30px;
    height: 30px;
}

.colorBox {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    background-color: rgb(189, 189, 189);
}

.colorBox {
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 20px;
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
}

.status-bar {
    height: 10px;
    position: absolute;
    bottom: 15px;
    left: 0px;
    right: 0px;
}

.status-bar-field {
    height: 15px;
    width: 30px;
}

.button-icon {
    width: 25px;
    height: 25px;
}

.ctrl {
    min-width: 10px;
    padding: 10px;
}

.selected {
    height: 60px;
    width: 60px;
}

.hidden {
    display: none;
}

.window {
    position: absolute;
    top: 30%;
    left: 40%;
    z-index: 2;
}

.window-body-heading {
    color: black;
    font-weight: bold;
}

.window img {
    position: absolute;
    top: 40%;
    left: 83%;
}